* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
}

body {
    background-color: #deb886;
}

.container1 {
    display: grid;
    grid-template-columns: .7fr 3fr;
    column-gap: .5rem;
    margin: 0 1rem;
}

.libraryTitle {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: center;
    font-size: 4rem;
    color: #5a3828;
}

.container2 {
    display: grid;
    grid-template-columns: .7fr 3fr;
    column-gap: .5rem;
    margin: 0 1rem;
}

.bookContainer {
    grid-area: 1 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: .3rem;
    align-content: space-evenly;
    justify-items: center;
    padding: .3rem;
    background-color: #6f432a;
    border: 1rem solid #98633b;
}

.bookInLibrary {
    width: 200px;
    height: 180px;
    background-color: #b67a4f;
    padding: .5rem;
    border: 4px solid rgb(218, 211, 195);
    border-radius: .3rem;
    color: #5a3828;
    font-size: 1rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
}

.bookTitle {
    font-size: 1.1rem;
    color: gold;
}

.bookRead {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.btnBook {
    padding: .3rem;
    border-radius: .5rem;
}

.greenBtn {
    background-color: rgb(181, 255, 71);
}

.redBtn {
    background-color: rgb(180, 177, 177);
}

.removeBook {
    background-color: rgb(255, 72, 72);
}

form {
    grid-area: 1 / 1 / 2 / 2;
}

.container3 {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    justify-content: center;
    color: white;
    font-size: 1rem;
    background-color: #6f432a;
    border: 1rem solid #98633b;
}

input[type=text] {
    height: 2rem;
    background-color: #da9e51;
    border: none;
    border-radius: .6rem;
    color: #5a3828;
    font-size: 1rem;
}

input[type=text]:focus {
    border: 1rem #98633b;
}

label {
    margin-top: 1rem;
}

.radio {
    margin: 1rem;
}

input[type=radio] {
    width: 1rem;
    height: 1rem;
}

.subBtn {
    width: 9rem;
    height: 4rem;
    justify-self: center;
    font-size: 1rem;
    font-weight: 900;
    color: #ffffff;
    background-color: #98633b;
    border: .3rem solid #6f432a;
    border-radius: .9rem;
}